# Не викладати файли з токенами та приватною інформацією
.env

# Папки кешу та байт-коду Python
__pycache__/
*.py[cod]
*.pyo

# Логи
*.log

# Тимчасові файли редакторів
*.swp
*.swo
*.tmp
*~

# VS Code та інші IDE
.vscode/
.idea/
*.code-workspace

# macOS / Windows специфічні
.DS_Store
Thumbs.db
